body {
  font-family: "Open Sans", sans-serif;
  background-color: hsl(228, 100%, 87%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-elements {
  justify-content: center;
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}

.qr-code {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

p {
  text-align: center;
}

.main-text {
  font-size: 22px;
  text-align: center;
}

.sub-text {
  color: grey;
  font-size: 17px;
}
